<div class="mat-app-background app-container">
  <mat-toolbar color="primary" class="mat-app-background">
    <span>Time tracking app</span>
    <a mat-button [routerLink]="['']">Home</a>
    <a mat-button [routerLink]="['/timesheets']">Timesheets</a>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
  </mat-toolbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>